<%- include('partials/header') %>


<!-- Body Content -->
<!-- Header Section -->
<section id="header">

  <div class="container">
    <img src="img/logo/planb.png" class="planB-header mt-2 mb-5" alt="PlanB Logo">
    <h2>JOIN OUR COMMUNITY AND START <br><span class="yJourney">YOUR JOURNY!</span></h2>
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <a href="login"><button class="btn btn-lg mt-4 header-btn"><i class="fa fa-sign-in"></i> Login</button></a> -->
        <a href="signup"><button class="btn btn-lg mt-4 header-btn"><i class="fa fa-vcard-o"></i> Sign up</button></a>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <a href="https://www.apple.com/app-store/"><button class="btn btn-lg mt-4 header-btn"><i class="fab fa-apple"></i> Download</button></a>
    <a href="https://play.google.com/store/apps?hl=en_US&gl=US"><button class="btn btn-lg mt-4 header-btn"><i class="fab fa-google-play"></i> Download</button></a>
    <!-- <button type="button" class="btn btn-dark btn-lg download-btn"><i class="fab fa-apple"></i> Download</button>
    <button type="button" class="btn btn-outline-light btn-lg download-btn"><i class="fab fa-google-play"></i> Download</button> -->
  </div>
</section>





<%- include('partials/footer') %>
