

<%- include('partials/header') %>


<!-- Navegation Bar Section -->
<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"> <img src="img/logo/planb.png" class="navbar-logo" alt="PlanB Logo"> </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>




<!-- Header Section -->
<section id="header">
  <!-- COMING SOON! -->
  <section id="mv-img">
    <div class="container">
  <h1 class="coming-soon mt-5 mb-5">Coming Soon!</h1>
  <div class="col-lg-12 text-center">
    <a href="login"><button class="btn mr-5 mb-5">Login</button></a>
    <a href="signup"><button class="btn ml-5 mb-5">Sign up</button></a>
  </div>
    </div>
  </section>
</section>





<!-- Contact -->
<section id="contact">
  <ul class="media-list">
    <li><a href="#"><i class="fab fa-facebook-f icon"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter icon"></i></a></li>
    <li><a href="#"><i class="fab fa-linkedin-in icon"></i></a></li>
    <li><a href="#"><i class="fab fa-google-plus-g icon"></i></a></li>
  </ul>
</section>


<%- include('partials/footer') %>
