/* @import  url("font/johnnytorchcond.ttf");
} */
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

/* Fonts */
/* font-family: 'Bebas Neue', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif; */
body {
  background: linear-gradient(rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 0.45)), url("../img/bg/planbLowOpacity.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin: auto;
  padding: 10% 2% 15% 2%;
}

/* Navegation ar */
nav {
  color: rgb(10, 55, 97);
  background-color: rgb(118, 187, 255, 0.75);
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}

a {
  color: rgb(10, 55, 97);
}

a:hover {
  color: grey;
  text-decoration: none;
  /* transform: scale(1.2, 2); */
}

h1, h2, h3, h4, h5 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.yJourney {
  font-size: 4rem;
  background: -webkit-linear-gradient(left, rgb(10, 55, 97), rgb(25, 141, 243));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-color: linear-gradient(rgb(10, 55, 97), rgb(25, 141, 243)); */
  text-decoration: underline;
  text-shadow: #000 5px 0 50px;
}

::selection {
  color: rgb(10, 55, 97);
  background: rgba(118, 187, 255, 0.75);
}

.navbar-logo {
  max-width: 100%;
  height: auto;
  width: 100px;
}

#header {
  text-align: center;
  background: linear-gradient(rgba(118, 187, 255, 0.75), rgba(255, 255, 255, 0.45));
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin: auto;
  padding: 10% 2% 2% 2%;
}

#header .planB-header {
  max-width: 100%;
  height: auto;
  width: 550px;
}

.img-story1 {
  max-width: 100%;
  height: auto;
  width: 500px;
  float: left;
  margin-right: 30px;
  box-shadow: 3px 1px .6em #76bbff, -0.8em 0 .4em grey;
  opacity: 0.6;
  transition: 1s ease;
}

.img-story2 {
  max-width: 100%;
  height: auto;
  width: 500px;
  float: right;
  margin-left: 30px;
  box-shadow: 3px 1px .6em #76bbff, -0.8em 0 .4em grey;
  opacity: 0.6;
  transition: 1s ease;
}

.img-story1:hover {
  opacity: 1;
  transition: 1s ease;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  transition: 1s ease;
}

.img-story2:hover {
  opacity: 1;
  transition: 1s ease;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  transition: 1s ease;
}

.story-txt {
  text-align: justify;
  line-height: 2rem;
}

#login ul {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  padding: 2%;
  font-weight: bold;
  font-family: 'Nerko One', cursive;
  font-size: 20px;
}

.coming-soon {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, rgb(10, 55, 97));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'Sansita Swashed', cursive;
}

/* @-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
} */
#mv-img h1 {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition-timing-function: linear;
}

#contact {
  /* background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(118, 187, 255, 0.35)); */
  text-align: center;
}

#footer {
  /* background-color: rgba(118, 187, 255, 0.35); */
  text-align: center;
}
